{% include 'header.html' %}
{% load static %}

<body class="hold-transition light-skin sidebar-mini theme-primary">
    <div class="wrapper">
        {% include 'navbar.html' %}
        {% include 'sidebar.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container-full">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <div class="d-inline-block align-items-center">
                                <nav>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="index.php">
                                                <i class="mdi mdi-home-outline"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item" aria-current="page">
                                            <a href="reports.php">
                                                Reports
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <a href="javascript:void(0);">
                                                Edit Report
                                            </a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Main content -->
                <section class="content">
                    <div class="row">

                        <div class="col-12">

                            <div class="box">
                                <div class="box-header with-border flexbox">
                                    <h3 class="box-title">
                                        Edit Report
                                    </h3>
                                    <div class="text-right flex-grow">
                                        <a href="reports.php">
                                            <button type="button" class="btn btn-dark">Back</button>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-md-3">Report ID: </label>
                                                <label class="font-weight-bold col-lg-9 col-md-9 report_id"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-md-3">Report Date: </label>
                                                <label class="font-weight-bold col-lg-9 col-md-9 report_date"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Patient <small class="text-danger">*</small></label>
                                                <select class="form-control select2 patient" id="patient"
                                                    style="width: 100%;" name="patient">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>Priority <small class="text-danger">*</small></label>
                                                <select class="form-control select2" id="priority" name="report_priority" style="width: 100%;">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            <div class="callout callout-info">
                                                <h4><i class="icon fa fa-info-circle"></i> Note:</h4>
                                                <ul>
                                                    <li>Only .png, .jpg, jpeg files are acceptable.</li>
                                                    <li>File size must be 10MB or less</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group row" id="upload-files">
<!-- 
                                                <div class="col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Report Document: <small
                                                                class="text-danger">*</small></label>
                                                        <input type="file" name="file" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-3">
                                                    <label>Body Part: <small class="text-danger">*</small></label>
                                                    <select class="form-control select2 body_part0"
                                                        style="width: 100%;" name="body_part">

                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-lg-4">
                                                    <label>View: <small class="text-danger">*</small></label>
                                                    <select class="form-control select2 body_view0" name="body_views"
                                                        data-placeholder="Select View" style="width: 100%;">

                                                    </select>
                                                </div> -->
                                               


                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            <label>Remark: </label>
                                            <textarea rows="5" class="form-control" placeholder=""
                                                id="report_remark" maxlength="255"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer text-right">
                                    <button type="button" name="submit" class="btn btn-success submit_report"
                                        onclick="editReport()">Submit</button>
                                    <a href="reports.php">
                                        <button type="button" class="btn btn-dark">Back</button>
                                    </a>
                                </div>
                                <!-- /.box-footer -->
                            </div>
                            <!-- /.box -->
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->

                <div class="modal fade" id="send_report_modal" data-backdrop="static" data-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action="" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Assign Radiologist</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label class="mb-0" for="assign_to">Assign To Radiologist<small
                                            class="text-danger">*</small></label>

                                    <div class="radio-list">
                                        <label class="radio-inline p-0 mr-10">
                                            <div class="radio radio-info">
                                                <input type="radio" id="type1" value="1"
                                                    onclick="handleTypeClick(this);" name="radiologist_type" checked>
                                                <label for="type1">Technician</label>
                                            </div>
                                        </label>
                                        <label class="radio-inline">
                                            <div class="radio radio-info">
                                                <input type="radio" id="type2" value="2"
                                                    onclick="handleTypeClick(this);" name="radiologist_type">
                                                <label for="type2">Biocare</label>
                                            </div>
                                        </label>
                                    </div>
                                    <select class="form-control" name="assign_to" id="assign_to">

                                    </select>
                                </div>
                                <div class="modal-footer text-right" style="width: 100%;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary"
                                        onclick="sendReport(event);">Assign</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.content-wrapper -->
        {% include 'footer.html' %}

        <!-- Control Sidebar -->

        <!-- /.control-sidebar -->

        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
    <!-- ./wrapper -->

    <!-- Vendor JS -->
    {% include 'script.html' %}
    <script src="{% static 'js/report/edit_report.js' %}"></script>

    <script type="text/javascript">
        function sendReport(evt) {

            evt.preventDefault();

            $('#send_report_modal').modal('hide');

            swal("Selected reports are successfully assign to radiologist", {
                icon: "success",
            });

            setTimeout(function () {
                window.location.href = "reports.php";
            }, 1000);
        }
    </script>

</body>

</html>