{% include 'header.html' %}
    <body class="hold-transition light-skin sidebar-mini theme-primary">
	    <div class="wrapper">
     
        {% include 'navbar.html' %}
           {% include 'sidebar.html' %}
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
            	    <div class="container-full">
                		<!-- Main content -->
                		<section class="content">
                			<div class="row">
                				<div class="col-xl-6 col-md-6 col-6">
                			        <h3 class="box-title">Dashboard</h3>
                			    </div>
                                <div class="col-xl-6 col-md-6 col-6 text-right">
                                    <a href="/reports.html" >
                                        <button class="btn btn-primary">Assign Reports</button>
                                    </a>
                                    <a href="/add_report.html" >
                                        <button class="btn btn-primary">Upload Scan Copy</button>
                                    </a>
                                </div>
                				<div class="col-xl-4 col-md-6 col-12">

                                    <div class="box box-widget widget-user-2">
                                        <div class="widget-user-header bg-danger">
                                            <h3 class="widget-user-username ml-0">
                                                <i class="font-size-30 fa fa-file-text-o"></i>
                                                <span class="head_dash_span">Urgent Priority Reports </span>
                                                <h6 class="widget-user-desc">340</h6>
                                            </h3>
                                        </div>
                                        <div class="box-footer no-padding">
                                            <ul class="nav d-block nav-stacked">
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Total reports assigned to doctor
                                                            <span data-toggle="tooltip" title="" class="badge badge-pill badge-danger ml-5" data-original-title="1 New Messages">5</span>
                                                        </span>
                                                        <span class="pull-right badge bg-info">
                                                            <h4 class="mb-0">1310</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Report Pending
                                                        </span>
                                                        <span class="pull-right badge bg-success">
                                                            <h4 class="mb-0">120</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Today's Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h4 class="mb-0">8K</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Completed Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Current Week Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Newly Generated Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Requested Ticket Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Requested for patient history
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  

                                </div>   
                                <div class="col-xl-4 col-md-6 col-12">

                                    <div class="box box-widget widget-user-2">
                                        <div class="widget-user-header bg-warning">
                                            <h3 class="widget-user-username ml-0">
                                                <i class="font-size-30 fa fa-file-text-o"></i>
                                                <span class="head_dash_span">Medium Priority Reports </span>
                                                <h6 class="widget-user-desc">240</h6>
                                            </h3>
                                        </div>
                                        <div class="box-footer no-padding">
                                            <ul class="nav d-block nav-stacked">
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Total reports assigned to doctor
                                                        </span>
                                                        <span class="pull-right badge bg-info">
                                                            <h4 class="mb-0">1310</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Report Pending
                                                        </span>
                                                        <span class="pull-right badge bg-success">
                                                            <h4 class="mb-0">120</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Today's Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h4 class="mb-0">8K</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Completed Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Current Week Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Newly Generated Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Requested Ticket Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Requested for patient history
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  
                                                            
                                </div>
                                <div class="col-xl-4 col-md-6 col-12">

                                    <div class="box box-widget widget-user-2">
                                        <div class="widget-user-header bg-info">
                                            <h3 class="widget-user-username ml-0">
                                                <i class="font-size-30 fa fa-file-text-o"></i>
                                                <span class="head_dash_span">Low Priority Reports </span>
                                                <h6 class="widget-user-desc">300</h6>
                                            </h3>
                                        </div>
                                        <div class="box-footer no-padding">
                                            <ul class="nav d-block nav-stacked">
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Total reports assigned to doctor
                                                        </span>
                                                        <span class="pull-right badge bg-info">
                                                            <h4 class="mb-0">1310</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Report Pending
                                                        </span>
                                                        <span class="pull-right badge bg-success">
                                                            <h4 class="mb-0">120</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Today's Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h4 class="mb-0">8K</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Completed Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Current Week Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Newly Generated Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Requested Ticket Reports
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Requested for patient history
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h4 class="mb-0">58</h4>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  
                                                            
                                </div>            

                			</div>

    	          			
                		</section>
                		<!-- /.content -->
            	    </div>
                </div>
                 <!-- /.content-wrapper -->
                 {% include 'footer.html' %}


             <!-- Control Sidebar -->
         
             <!-- /.control-sidebar -->

             <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
  
        </div>
        <!-- ./wrapper -->	 
	
        <!-- Vendor JS -->
        {% include 'script.html' %}

	
    </body>
</html>
