{% include 'header.html' %}
    <body class="hold-transition light-skin sidebar-mini theme-primary">
        <div class="wrapper">
            {% include 'radiologist_navbar.html' %}
            {% include 'radiologist_sidebar.html' %}
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <div class="container-full">
                        <!-- Main content -->
                        <section class="content">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-12">
                                    <h3 class="box-title">Dashboard</h3>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12">

                                    <div class="box box-widget widget-user-2">
                                        <div class="widget-user-header bg-danger">
                                            <h3 class="widget-user-username ml-0">
                                                <i class="font-size-30 fa fa-file-text-o"></i>
                                                <span class="head_dash_span">Urgent Priority Reports </span>
                                                <h6 class="widget-user-desc counter_dash_head">340</h6>
                                            </h3>
                                        </div>
                                        <div class="box-footer no-padding">
                                            <ul class="nav d-block nav-stacked">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Received Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h5 class="mb-0">1310</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Report Pending
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h5 class="mb-0">120</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Today's Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h5 class="mb-0">8K</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Completed Reports
                                                        </span>
                                                        <span class="pull-right badge bg-success">
                                                            <h5 class="mb-0">58</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Current Week Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h5 class="mb-0">58</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  

                                </div>   
                                <div class="col-xl-4 col-md-6 col-12">

                                    <div class="box box-widget widget-user-2">
                                        <div class="widget-user-header bg-warning">
                                            <h3 class="widget-user-username ml-0">
                                                <i class="font-size-30 fa fa-file-text-o"></i>
                                                <span class="head_dash_span">Medium Priority Reports </span>
                                                <h6 class="widget-user-desc counter_dash_head">240</h6>
                                            </h3>
                                        </div>
                                        <div class="box-footer no-padding">
                                            <ul class="nav d-block nav-stacked">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Received Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h5 class="mb-0">1310</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Report Pending
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h5 class="mb-0">120</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Today's Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h5 class="mb-0">8K</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Completed Reports
                                                        </span>
                                                        <span class="pull-right badge bg-success">
                                                            <h5 class="mb-0">58</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Current Week Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h5 class="mb-0">58</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  
                                                            
                                </div>
                                <div class="col-xl-4 col-md-6 col-12">

                                    <div class="box box-widget widget-user-2">
                                        <div class="widget-user-header bg-info">
                                            <h3 class="widget-user-username ml-0">
                                                <i class="font-size-30 fa fa-file-text-o"></i>
                                                <span class="head_dash_span">Low Priority Reports </span>
                                                <h6 class="widget-user-desc counter_dash_head">300</h6>
                                            </h3>
                                        </div>
                                        <div class="box-footer no-padding">
                                            <ul class="nav d-block nav-stacked">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Received Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h5 class="mb-0">1310</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Report Pending
                                                        </span>
                                                        <span class="pull-right badge bg-danger">
                                                            <h5 class="mb-0">120</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Today's Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h5 class="mb-0">8K</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Completed Reports
                                                        </span>
                                                        <span class="pull-right badge bg-success">
                                                            <h5 class="mb-0">58</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">
                                                        <span class="font_dashboard_span">
                                                            Current Week Reports
                                                        </span>
                                                        <span class="pull-right badge bg-warning">
                                                            <h5 class="mb-0">58</h5>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  
                                                            
                                </div>            

                            </div>

                            
                        </section>
                        <!-- /.content -->
                    </div>
                </div>
                 <!-- /.content-wrapper -->
                 {% include 'footer.html' %}

             <!-- Control Sidebar -->

             <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
  
        </div>
        <!-- ./wrapper -->   
    
        <!-- Vendor JS -->
        {% include 'script.html' %}
    
    </body>
</html>
