{% include 'header.html' %}
    <body class="hold-transition light-skin sidebar-mini theme-primary">
	    <div class="wrapper">
            {% include 'navbar.html' %}
            {% include 'sidebar.html' %}
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
            	    <div class="container-full">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <div class="d-inline-block align-items-center">
                                        <nav>
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="index.php">
                                                        <i class="mdi mdi-home-outline"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    <a href="reports.php">
                                                        Reports
                                                    </a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Main content -->
                        <section class="content">
                            <div class="row">

                                <div class="col-12">

                                    <div class="box">
                                        <div class="box-header with-border flexbox">
                                            <h3 class="box-title">
                                                Reports
                                            </h3>
                                            <div class="text-right flex-grow">
                                                <a href="add_report.php" >
                                                    <button class="btn btn-primary">Upload Scan Copy</button>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#send_report_modal" class="btn btn-primary btn-sm mb-4 send_report_btn">
                                                <i class="fa fa-share"></i> Assign Radiologist
                                            </a>
                                            <div class="table-responsive">
                                                <table class="data_tbl table table-bordered table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%">
                                                                <div data-toggle="tooltip" data-original-title="Select All Reports">
                                                                    <input type="checkbox" id="selAll" class="filled-in chk-col-primary">
                                                                    <label for="selAll"></label>               
                                                                </div>
                                                            </th>
                                                            <th>Sr. No.</th>
                                                            <th>ID</th>
                                                            <th>Date</th>
                                                            <th width="20%">Name</th>
                                                            <th>Patient</th>
                                                            <th>Priority</th>
                                                            <th>Status</th>
                                                            <th width="20%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="sel_report_chkbx_div" data-toggle="tooltip" data-original-title="Select Report">
                                                                    <input type="checkbox" class="filled-in chk-col-primary report_id_arr" id="sel_chk_bx1" name="report_id_arr[]" value="1">
                                                                    <label for="sel_chk_bx1"></label>
                                                                </div>
                                                            </td>
                                                            <td>1</td>
                                                            <td>#RPT_1</td>
                                                            <td>03rd May 2021</td>
                                                            <td>X-RAY CHEST PA VIEW</td>
                                                            <td>Pawan Kumar</td>
                                                            <td>Medium</td>
                                                            <td>Not Assigned</td>
                                                            <td>
                                                                <a href="edit_report.php"><button class="btn btn-sm btn-success mb-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i>&nbsp;Edit</button></a>

                                                                <a href="view_report.php"><button class="btn btn-sm btn-warning mb-5" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i>&nbsp;View</button></a>

                                                                <a href="javascript:void(0);" data-toggle="modal" data-target="#send_report_modal"><button class="btn btn-sm btn-info mb-5" data-toggle="tooltip" data-original-title="Assign Radiologist"><i class="fa fa-share"></i>&nbsp;Assign Radiologist</button></a>

                                                                <button class="btn btn-sm btn-danger delRow mb-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="sel_report_chkbx_div" data-toggle="tooltip" data-original-title="Select Report">
                                                                    <input type="checkbox" class="filled-in chk-col-primary report_id_arr" id="sel_chk_bx2" name="report_id_arr[]" value="2">
                                                                    <label for="sel_chk_bx2"></label>
                                                                </div>
                                                            </td>
                                                            <td>2</td>
                                                            <td>#RPT_2</td>
                                                            <td>25th April 2021</td>
                                                            <td>X-RAY CERVICAL SPINE AP</td>
                                                            <td>Kiran Shah</td>
                                                            <td>High</td>
                                                            <td>Examining</td>
                                                            <td>
                                                                <a href="edit_report.php"><button class="btn btn-sm btn-success mb-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i>&nbsp;Edit</button></a>

                                                                <a href="view_report.php"><button class="btn btn-sm btn-warning mb-5" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i>&nbsp;View</button></a>

                                                                <a href="javascript:void(0);" data-toggle="modal" data-target="#send_report_modal"><button class="btn btn-sm btn-info mb-5" data-toggle="tooltip" data-original-title="Assign Radiologist"><i class="fa fa-share"></i>&nbsp;Assign Radiologist</button></a>

                                                                <button class="btn btn-sm btn-danger delRow mb-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th width="5%"></th>
                                                            <th>Sr. No.</th>
                                                            <th>ID</th>
                                                            <th>Date</th>
                                                            <th width="20%">Name</th>
                                                            <th>Patient</th>
                                                            <th>Priority</th>
                                                            <th>Status</th>
                                                            <th width="20%">Action</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                        <!-- /.content -->

                        <!-- Modal -->
                        <div class="modal fade" id="send_report_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action="" method="post">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Assign Radiologist</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <label class="mb-0" for="assign_to">Assign To Radiologist<small class="text-danger">*</small></label>
                                            <select class="form-control" name="assign_to" id="assign_to">
                                                <option value="">Select</option>
                                                <option value="1" >Dr. Ketan Sanghvi</option>
                                                <option value="2" >Dr. Tejas Sharma</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer text-right" style="width: 100%;">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" onclick="sendReport(event);">Assign</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

            	    </div>
                </div>
                 <!-- /.content-wrapper -->
            {% include 'footer.html' %}

             <!-- Control Sidebar -->
            
             <!-- /.control-sidebar -->

             <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
  
        </div>
        <!-- ./wrapper -->	 
	
        <!-- Vendor JS -->
        {% include 'script.html' %}

        <script type="text/javascript">

            $(document).ready(function(){
                $("#selAll").click(function () {
                    $('.report_id_arr:checkbox').not(this).prop('checked', this.checked);
                });
            });

        </script>

        <script type="text/javascript">
            $(function() {
                $('.send_report_btn').hide();
                $(".report_id_arr, #selAll").click(function () {
                    if($('.report_id_arr').is(":checked")){
                        $('.send_report_btn').show();
                    }else {
                        $('.send_report_btn').hide();
                    }
                });
            });
        </script>

        <script>
            function sendReport(evt) {

                evt.preventDefault();

                $('#send_report_modal').modal('hide');

                swal("Selected reports are successfully assign to radiologist", {
                      icon: "success",
                });
            }
        </script>
	
    </body>
</html>
