	<script src="../static/assets/js/vendors.min.js"></script>
    <script src="../static/assets/icons/feather-icons/feather.min.js"></script>	
	<script type="text/javascript">
		// A CSRF token is required when making post requests in Django
		// To be used for making AJAX requests in script.js
		window.CSRF_TOKEN = "{{ csrf_token }}";
	  </script>
	<!--<script src="../static/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>-->
	<!--<script src="../static/assets/vendor_components/progressbar.js-master/dist/progressbar.js"></script>   -->
    <!--<script src="../static/assets/vendor_components/sweetalert/sweetalert.min.js"></script>-->
    <!--<script src="../static/assets/vendor_components/sweetalert/jquery.sweet-alert.custom.js"></script>	-->
    	
    <script src="../static/assets/vendor_components/dropzone/dropzone.js"></script>	
    <script src="../static/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="../static/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
	<script src="../static/assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
	<script src="../static/assets/vendor_components/select2/dist/js/select2.full.js"></script>
	<script src="../static/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
	<script src="../static/assets/vendor_components/datatable/datatables.min.js"></script>
	<script src="../static/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<script src="../static/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>
	<script src="../static/assets/vendor_components/moment/min/moment.min.js"></script>
	<script src="../static/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../static/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="../static/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
	<script src="../static/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js"></script>
	<script src="../static/assets/vendor_plugins/iCheck/icheck.min.js"></script>
	<!-- Florence Admin App -->
	<script src="../static/assets/js/template.js"></script>
	<!-- <script src="js/pages/dashboard.js"></script> -->
	<script src="../static/assets/js/demo.js"></script>
	<script src="../static/assets/js/toastr.min.js"></script>
	<script src="../static/assets/js/pages/data-table.js"></script>
	<script src="../static/assets/js/pages/advanced-form-element.js"></script>
	<!--<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>-->

	<script>
	    $(document).ready(function () {
	        $('.select2').select2();

	        $('.delRow').on('click', function () {

	        	swal({
		            title: "Are you sure ?",
		            text: "Do you really want to delete ?", 
		            icon: "warning",
		            buttons: true,
		            dangerMode: true,
		        })
		        .then((willDelete) => {
		          if (willDelete) {
		            swal("Poof! Your imaginary file has been deleted!", {
		              icon: "success",
		            });
		          } else {
		            swal("Your imaginary file is safe!");
		          }
		        });

	        });

	    });
	</script>

