{% include 'header.html' %}
{%load statis%}
    <body class="hold-transition light-skin sidebar-mini theme-primary">
	    <div class="wrapper">
            {% include 'super_navbar.html' %}
            {% include 'super_sidebar.html' %}
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
            	    <div class="container-full">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <div class="d-inline-block align-items-center">
                                        <nav>
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="index.php">
                                                        <i class="mdi mdi-home-outline"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    <a href="javascript:void(0);">
                                                        Radiologist List
                                                    </a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Main content -->
                        <section class="content">
                            <div class="row">

                                <div class="col-12">

                                    <div class="box">
                                        <div class="box-header with-border flexbox">
                                            <h3 class="box-title">
                                                Radiologists List
                                            </h3>
                                            <div class="text-right flex-grow">
                                                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Radiologists</button>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table class="data_tbl table table-bordered table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>ID</th>
                                                            <th>Name</th>
                                                            <th>Phone No</th>
                                                            <th>Email</th>
                                                            <th>Speciality</th>
                                                            <th>Location</th>
                                                            <th width="20%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="super_radiologist">
                                                        
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>ID</th>
                                                            <th>Name</th>
                                                            <th>Phone No</th>
                                                            <th>Email</th>
                                                            <th>Speciality</th>
                                                            <th>Location</th>
                                                            <th width="20%">Action</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                        <!-- /.content -->
                        <div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="" method="POST" >
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Add Radiologist</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Name <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Phone Number <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Phone Number">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Email <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Location <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Profile Photo: <small class="text-danger">*</small></label>
                                                        <input type="file" name="file" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <label>Address: <small class="text-danger">*</small></label>
                                                    <textarea rows="3" class="form-control" placeholder="Enter Address"></textarea>
                                                </div>
                                                <div class="col-md-6 col-lg-6 mt-3">
                                                    <div class="form-group">
                                                        <label>Qualification <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6 mt-3">
                                                    <div class="form-group">
                                                        <label>Experience<small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Location">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Speciality<small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Speciality">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-right" style="width: 100%;">
                                            <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
                                            <button type="submit" name="submit" class="btn btn-success text-left">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->

                        <div class="modal fade editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="" method="POST" >
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Add Radiologist</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Name <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Phone Number <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Phone Number">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Email <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Location <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Location">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Profile Photo: <small class="text-danger">*</small></label>
                                                        <input type="file" name="file" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <label>Address: <small class="text-danger">*</small></label>
                                                    <textarea rows="3" class="form-control" placeholder="Enter Address"></textarea>
                                                </div>
                                                <div class="col-md-6 col-lg-6 mt-3">
                                                    <div class="form-group">
                                                        <label>Qualification <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Qualification">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6 mt-3">
                                                    <div class="form-group">
                                                        <label>Experience<small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Experience">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Speciality<small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Radiologist Speciality">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-right" style="width: 100%;">
                                            <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
                                            <button type="submit" name="submit" class="btn btn-success text-left">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->

                        <div class="modal fade viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form action="" method="POST" >
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Radiologist Details</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">ID: </label>
                                                        <label>#PT_1</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Name: </label>
                                                        <label>Dr. Ketan Sanghvi</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Phone Number: </label>
                                                        <label>97696412345</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Email: </label>
                                                        <label>Ketan@gmail.com</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Location: </label>
                                                        <label>Andheri</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Qualification: </label>
                                                        <label>M.O</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Experience: </label>
                                                        <label>20 years</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Speciality: </label>
                                                        <label>Back Bone Specialit </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Address: </label>
                                                        <label>A/1 Dhawal Apts, Gr Flr, Factory Lane, Oppcant Tower Below Jankalyan Bank, Borivli (w)</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-right" style="width: 100%;">
                                            <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                      <!-- /.modal -->

            	    </div>
                </div>
                 <!-- /.content-wrapper -->
            {% include 'footer.html' %}

             <!-- Control Sidebar -->
            
             <!-- /.control-sidebar -->

             <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
  
        </div>
        <!-- ./wrapper -->	 
	
        <!-- Vendor JS -->
        {% include 'script.html' %}
        <script src="{% static 'js/super/radiologist.js' %}" ></script>
	
    </body>
</html>
