{% include 'header.html' %}
    <body class="hold-transition light-skin sidebar-mini theme-primary">
	    <div class="wrapper">
        {% include 'navbar.html' %}
           	{% include 'sidebar.html' %}
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
            	    <div class="container-full">
                		<!-- Main content -->
                		<section class="content">
                			<div class="row">
                				<div class="col-xl-12 col-md-12 col-12">
                			        <h4 class="box-title">Dashboard</h4>
                			    </div>
                				<div class="col-xl-3 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-primary-light rounded-circle">
                									<i class="text-primary mr-0 font-size-20 fa fa-file-text-o"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">240</h3>
                									<p class="text-mute mb-0">Total Reports</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>            			    
                				<div class="col-xl-3 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-info-light rounded-circle">
                									<i class="text-info mr-0 font-size-20 fa fa-user-md"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">128</h3>
                									<p class="text-mute mb-0">Total Radiologists</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>            			    
                			    
                				<div class="col-xl-3 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-warning-light rounded-circle">
                									<i class="text-warning mr-0 font-size-20 fa fa-share"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">340</h3>
                									<p class="text-mute mb-0">Total reports assigned to doctor</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>
                				<div class="col-xl-3 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-danger-light rounded-circle">
                									<i class="text-danger mr-0 font-size-20 fa fa-question"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">80</h3>
                									<p class="text-mute mb-0">Report Pending</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>
                				<div class="col-xl-3 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-warning-light rounded-circle">
                									<i class="text-warning mr-0 font-size-20 fa fa-check"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">260</h3>
                									<p class="text-mute mb-0">Today's Reports</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>	
                				<div class="col-xl-3 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-success-light rounded-circle">
                									<i class="text-success mr-0 font-size-20 fa fa-file-text-o"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">260</h3>
                									<p class="text-mute mb-0">Completed Reports</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>	
                				<div class="col-xl-3 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-warning-light rounded-circle">
                									<i class="text-warning mr-0 font-size-20 fa fa-check"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">260</h3>
                									<p class="text-mute mb-0">Current Week Reports</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>	
                				<div class="col-xl-3 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-info-light rounded-circle">
                									<i class="text-info mr-0 font-size-20 fa fa-file-text-o"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">260</h3>
                									<p class="text-mute mb-0">Newly Generated Reports</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>	
                				<div class="col-xl-12 col-md-12 col-12 mt-10">
                			        <h4 class="box-title">Priority Status Wise Reports</h4>
                			    </div>
                			    <div class="col-xl-4 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-danger-light rounded-circle">
                									<i class="text-danger mr-0 font-size-20 fa fa-file-text-o"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">240</h3>
                									<p class="text-mute mb-0">Urgent Reports</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div> 
                				<div class="col-xl-4 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-warning-light rounded-circle">
                									<i class="text-warning mr-0 font-size-20 fa fa-file-text-o"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">240</h3>
                									<p class="text-mute mb-0">Medium Reports</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div> 
                				<div class="col-xl-4 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-info-light rounded-circle">
                									<i class="text-info mr-0 font-size-20 fa fa-file-text-o"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">240</h3>
                									<p class="text-mute mb-0">Low Reports</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>   
                				<div class="col-xl-12 col-md-12 col-12 mt-10">
                			        <h4 class="box-title">Requests</h4>
                			    </div>
                			    <div class="col-xl-4 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-primary-light rounded-circle">
                									<i class="text-primary mr-0 font-size-20 fa fa-file-text-o"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">260</h3>
                									<p class="text-mute mb-0">Requested Ticket Reports</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>	
                				<div class="col-xl-4 col-md-6 col-12">
                					<div class="box">
                						<div class="box-body px-10 pt-5">
                							<div class="d-flex align-items-center justify-content-between">
                								<div class="icon bg-info-light rounded-circle">
                									<i class="text-info mr-0 font-size-20 fa fa-ticket"></i>
                								</div>
                								<div class="text-right">
                									<h3 class="text-dark mb-0 font-weight-500">260</h3>
                									<p class="text-mute mb-0">Requested for patient history</p>
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>
                			</div>

    	          			
                		</section>
                		<!-- /.content -->
            	    </div>
                </div>
                 <!-- /.content-wrapper -->
            {% include 'footer.html' %}

             <!-- Control Sidebar -->
            
             <!-- /.control-sidebar -->

             <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
  
        </div>
        <!-- ./wrapper -->	 
	
        <!-- Vendor JS -->
        {% include 'script.html' %}
	
    </body>
</html>
