{% include 'header.html' %}
    <body class="hold-transition light-skin sidebar-mini theme-primary">
	    <div class="wrapper">
            {% include 'navbar.html' %}
            {% include 'sidebar.html' %}
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
            	    <div class="container-full">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <div class="d-inline-block align-items-center">
                                        <nav>
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="index.php">
                                                        <i class="mdi mdi-home-outline"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    <a href="javascript:void(0);">
                                                        Payment Management 
                                                    </a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Main content -->
                        <section class="content">
                            <div class="row">

                                <div class="col-12">

                                    <div class="box">
                                        <div class="box-header with-border flexbox">
                                            <h3 class="box-title">
                                                Payment Management 
                                            </h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table class="data_tbl table table-bordered table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Date</th>
                                                            <th>Technician Id</th>
                                                            <th>Technician Name</th>
                                                            <th>Report Id</th>
                                                            <th>Report Name</th>
                                                            <th>Priority</th>
                                                            <th>Payment Received</th>
                                                            <!--<th width="20%">Action</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>24 JUNE 2021</td>
                                                            <td>#TECH_1</td>
                                                            <td>Pawan Kumar</td>
                                                            <td>RPT_1</td>
                                                            <td>X-RAY CHEST PA VIEW</td>
                                                            <td>High</td>
                                                            <td>4500</td>
                                                            <!--<td>-->
                                                            <!--    <a href="javascript:void(0);" data-toggle="modal" data-target=".pay_modal">-->
                                                            <!--        <button class="btn btn-sm btn-warning" data-toggle="tooltip" data-original-title="Pay">-->
                                                            <!--            <i class="fa fa-send"></i>&nbsp;Pay-->
                                                            <!--        </button>-->
                                                            <!--    </a>-->
                                                            <!--</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>24 JUNE 2021</td>
                                                            <td>#TECH_2</td>
                                                            <td>Pawan Kumar</td>
                                                            <td>RPT_3</td>
                                                            <td>X-RAY CERVICAL SPINE AP</td>
                                                            <td>Medium</td>
                                                            <td>1500</td>
                                                            <!--<td><a href="javascript:void(0);" data-toggle="modal" data-target=".pay_modal">-->
                                                            <!--        <button class="btn btn-sm btn-warning" data-toggle="tooltip" data-original-title="Pay">-->
                                                            <!--            <i class="fa fa-send"></i>&nbsp;Pay-->
                                                            <!--        </button>-->
                                                            <!--    </a>-->
                                                            <!--</td>-->
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Date</th>
                                                            <th>Technician Id</th>
                                                            <th>Technician Name</th>
                                                            <th>Report Id</th>
                                                            <th>Report Name</th>
                                                            <th>Priority</th>
                                                            <th>Payment Received</th>
                                                            <!--<th width="20%">Action</th>-->
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                        <!-- /.content -->

                        <!-- Modal -->
                        <div class="modal fade pay_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action="" method="post">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Pay Admin</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-12">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Patient ID: </label>
                                                        <label>#PT_2</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-12">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold">Patient: </label>
                                                        <label>Kiran Shah</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Total Amount <small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Enter Total Amount" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Reports Count<small class="text-danger">*</small></label>
                                                        <input type="text" class="form-control" placeholder="Enter Reports Count" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Reports Description<small class="text-danger">*</small></label>
                                                        <textarea rows="3" class="form-control" placeholder="Enter Reports Description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label>Remark</label>
                                                        <textarea rows="3" class="form-control" placeholder="Enter Remark"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-right" style="width: 100%;">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Pay</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

            	    </div>
                </div>
                 <!-- /.content-wrapper -->
            {% include 'footer.html' %}

             <!-- Control Sidebar -->
            
             <!-- /.control-sidebar -->

             <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
  
        </div>
        <!-- ./wrapper -->	 
	
        <!-- Vendor JS -->
        {% include 'script.html' %}
	
    </body>
</html>
